name: Publish Snapshot

on:
  push:
    branches: [ main ]

permissions:
  contents: write

concurrency:
  group: publish-snapshot-${{github.ref_name}}
  cancel-in-progress: true

jobs:

  publish:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: temurin

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4

    - name: Git Short SHA
      run: |
        calculatedSha=$(git rev-parse --short ${{ github.sha }})
        echo "GIT_COMMIT_SHORT_SHA=$calculatedSha" >> $GITHUB_ENV

    - name: Build Artifacts & Documentation
      run: ./gradlew build :dokkaGenerate -x test
      env:
        GIT_COMMIT_SHA: ${{ env.GIT_COMMIT_SHORT_SHA }}

    - name: Publish Maven Artifacts (Snapshot)
      run: >-
        ./gradlew
        publishToMavenCentral
        -x test
      env:
        ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.SONATYPE_CENTRAL_USERNAME }}
        ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.SONATYPE_CENTRAL_PASSWORD }}

    - name: Publish Docker
      run: >-
        ./gradlew
        --no-configuration-cache
        --continue
        -Djib.to.auth.username=${{ secrets.DOCKER_PUBLISH_USER }}
        -Djib.to.auth.password=${{ secrets.DOCKER_PUBLISH_TOKEN }}
        build
        jib
        -x test

    - name: Publish Documentation
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        branch: gh-pages
        clean: false
        folder: build/dokka
